
body{
    margin: 0;
    height: 100%;
    width: 100%;
}
html{
    height: 100%;
    width: 100%;
}
img{
}
div,section{
    box-sizing: border-box;
}
.outer{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-color:#F6F6F6;
    position: relative;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-outer {
    display: flex;
    width: 85%;
    height: 50%;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
    background: #ffffff;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 4px 5px 15px 0px rgba(0, 0, 0, 0.2);
}
.icon-outer{
    display: flex;
}
.icon-outer .img-div{
    background-image: url(../assets/images/user.svg);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
}
.icon-outer img {
    width: 100px;
}
img.verf {
    position: absolute;
    width: 30px;
    height: 30px;
    left: -40px;
    top: -3px;
}
#verified h3.row-head {
    position: relative;
    margin-left: 45px;
}
.content-outer {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
}
.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 235px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 3px 0;
}
.row .col {
    width: 50%;
    display: flex;
}
.row .col:last-child {
    justify-content: flex-end;
}
@media (min-width:525px)
{
    .white-outer {
        width: 452px;
    }
}